@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.text {
  color: #E5E7EB;
}

.button {
  display: flex;
  border-radius: 5px;
  height: 30px;
  width: 110px;
  color: #F9FAF8;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  background-color: #3882F6;
}

/* Header */

.header-background,
.footer-background {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 10px;
  background-color: #1F2937;
}

.header-logo {
  color: #F9FAF8;
  font-size: 2em;
  font-weight: 900;
}

.header-links {
  display: flex;
  gap: 16px;
}

/* Section One */

.section-one {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  height: 400px;
}

.section-one .right,
.section-one .left {
  max-width: 50%;
}

.section-one img {
  max-width: 350px;
  border-radius: 5px;
  border: 2px solid #E5E7EB;
}

.section-one .heading {
  color: #F9FAF8;
  font-size: 3em;
  font-weight: 900;
}

.section-one .button {
  margin-top: 10px;
}

/* Section Two */

.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
}

.section-two .heading {
  font-size: 2em;
  font-weight: 900;
  padding: 30px;
}

.image-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.section-two img {
  border: 2px solid #1F2937;
  border-radius: 5px;
}

.section-two img, 
.image-container .image {
  max-width: 150px;
}

/* Section Three */

.section-three-background {
  background-color: #E5E7EB;
}

.section-three {
  display: flex;
  height: 400px;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 30px;
}

.quote {
  font-size: 2em;
  color: #556274;
  font-style: italic;
}

.quote-author {
  align-self: flex-end;
  font-weight: 900;
  font-size: 1.5em;
}

/* Section Four */

.section-four {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.banner {
  display: flex;
  background-color: #3882F6;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 50px 100px;
}

.banner-container .heading {
  color: #F9FAF8;
  font-weight: 900;
  font-size: 1.2em;
}

.banner .button {
  border: 1px solid #F9FAF8;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}